WEBAPP/Web References/WebReference/DataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:4503/DataService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlId" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="para" nillable="true" type="q1:ArrayOfKeyValueOfanyTypeanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="test">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="testResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="testResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJsonData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlId" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="para" nillable="true" type="q2:ArrayOfKeyValueOfanyTypeanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJsonDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJsonDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteSql">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlId" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="para" nillable="true" type="q3:ArrayOfKeyValueOfanyTypeanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteSqlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteSqlResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataByConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dbConfig" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sqlId" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="para" nillable="true" type="q4:ArrayOfKeyValueOfanyTypeanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataByConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataByConfigResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJsonDataByConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dbConfig" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sqlId" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="para" nillable="true" type="q5:ArrayOfKeyValueOfanyTypeanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJsonDataByConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJsonDataByConfigResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteSqlByConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dbConfig" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sqlId" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="para" nillable="true" type="q6:ArrayOfKeyValueOfanyTypeanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteSqlByConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteSqlByConfigResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phones" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendSmsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExcelData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExcelDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExcelDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadCmnetFromExcel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatureId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileContex" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="strMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadCmnetFromExcelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadCmnetFromExcelResult" type="xs:int" />
        <xs:element minOccurs="0" name="strMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileAndUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatureId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FileByte" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sheet" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dbconfig" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileAndUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadFileAndUpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>